<h2>Events</h2>

<h3>My Events</h3>
<p><%= button_to "Create Event", "/users/#{@user.id}/events/new", method: :get %></p>
<br>

<h4>Upcoming Events</h4>
<% if @upcoming_events.present? %>
  <% @upcoming_events.each do |event|%>
    <div id="event-<%= event.id%>">
      <h4><%= link_to "#{ event.title}", "/users/#{@user.id}/events/#{event.id}" %></h4>
      <p>Group: <%= event.group_name %></p>
      <p><%= event.formatted_datetime %></p>
    </div>
    <br>
  <% end %>
<% else %>
  No Upcoming Events
<% end %>
<br>
<br>

<h4>Past Events</h4>
<% if @past_events.present? %>
  <% @past_events.each do |event|%>
    <div id="event-<%= event.id%>">
      <h4><%= link_to "#{ event.title}", "/users/#{@user.id}/events/#{event.id}" %></h4>
      <p>Group: <%= event.group_name %></p>
      <p><%= event.formatted_datetime %></p>
    </div>
    <br>
  <% end %>
<% else %>
  No Past Events
<% end %>
<br>
<br>