<div class="nav-container">
  <h1 class="navbar-text"><%= @user.full_name %></h1>
  <nav class="menu">
    <ul class="menu-options">
      <li><%= link_to 'Events', "/users/#{@user.id}/events" %>
      <li><%= link_to 'Groups', "/users/#{@user.id}/events" %>
      <li><%= link_to 'Friends', "/users/#{@user.id}/friends" %>
    </ul>
  </nav>
</div>

<h2>Events</h2>

<h3>My Events</h3>
<p><%= button_to "Create Event", "/users/#{@user.id}/events/new", method: :get %></p>

<% if @user.my_events.present? %>
  <% @user.my_events.each do |event|%>
    <div id="event-<%= event.id%>">
      <h4><%= link_to "#{ event.title}", "/users/#{@user.id}/events/#{event.id}" %></h4>
      <p><%= event.time %></p>
      <p><%= event.date %></p>
    </div>
    <br>
  <% end %>
<% else %>
  No Events Created
<% end %>
<br>
<br>

<h3>Event Invitations</h3>
<% if @user.invited_to_events.present? %>
  <% @user.invited_to_events.each do |event|%>
    <div id="event-<%= event.id%>">
      <h4><%= link_to "#{ event.title}", "/users/#{@user.id}/events/#{event.id}" %></h4>
      <p><%= event.time %></p>
      <p><%= event.date %></p>
    </div>
  <% end %>
<% else %>
  No Event Invitations
<% end %>