<!DOCTYPE html>
<html>
  <head>
    <title>ClientLynkUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="nav-container"></div>
      <h1 class="navbar-text"><%= current_user.full_name %></h1>
      <nav class="menu">
        <ul class="menu-options">
          <li><%= link_to 'Events', "/users/#{current_user.id}/events" %>
          <li><%= link_to 'Groups', "/users/#{current_user.id}/groups" %>
          <li><%= link_to 'Friends', "/users/#{current_user.id}/friends" %>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
